button {
    margin : 3px
}

label {
    color :aqua
}

.instruments {
    align-items: flex-start;
}

.main-controls {
    background-color: rgb(3, 212, 38);
    padding: 5px;
}

form {
    float: right;
}